* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: 'Mali', cursive;
    margin-top: 0;
    background-color: gold;
}

#header-img {
  border-radius: 4px;
  margin: 5px 0;
}

/* Style the top navigation bar */
.navbar {
    background-color: gold;
    display: flex;
    padding: 10px;
}

/* Style the navigation bar links */
.navbar a {
    color: saddlebrown;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 18px;
}

#nav {
  display: flex;
}

/* Change color on hover */
.navbar a:hover {
    color: #5d3111;
}

#donate {
  color: white;
  background-color: saddlebrown;
}

#donate:hover {
    color: black;
}

#back-img {
  max-width: 100%;
  margin: 100px auto 60px auto;
}


#about p {
  margin-top: 10px;
  font-size: 22px;
}

#about {
  margin-top:60px;
  color: gold;
  line-height: 30px; 
  background-color: Green;
  padding: 10px 0 10px 0;
}

#about img {
  border-radius: 4px;
}

#form {
  font-weight: bold;
  font-size: 20px;
}

#email {
  margin-top: 10px;
}

#submit {
  background-color: darkorange;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

#submit:hover {
  background-color: darkgray;
}

#cow {
  margin: 100px auto 0 auto;
  border-radius: 4px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 10px 10px 8px #D35400;
}

#cow img {
  border-radius: 4px;
}

h2 {
  font-weight: bold;
}

#mission { 
  line-height: 25px;
  margin-top: 100px;
  color: white;
  background-color: DIMGRAY;
  padding: 10px 0;
}

ul {
  font-size: 18px;
  margin-top: 15px;
}

#contact {
  border-radius: 4px;
  margin-top: 100px;
  background-color: white;
  border: 1px solid;
  padding: 10px;
  box-shadow: 10px 10px 8px gray;
}

#contact img {
  border-radius: 4px;
  margin-bottom: 15px;
}

h5 {
  font-weight: bold;
  color: royalblue;
  line-height: 30px;
}

#donation {
  margin: 100px auto 100px auto;
  background-color: OLIVEDRAB;
  padding: 10px 0;
  color: white;
}

#donation img {
  border-radius: 4px;
}

h1 {
  margin-top: 10px;
}

h6 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

#donation p {
  margin-top: 10px;
  font-weight: bold;
}

footer a:hover {
  color: white;
  text-decoration: none;
}

#video-div {
  margin-top: 100px;
  background-color: #D35400;
  padding: 10px 0 0 0;
}

#video {
  max-height: 1000px;
  margin: 10px auto;
}

h4 {
  font-weight: bold;
  color: white;
}

footer {
  background-color: #1C2833; 
  color: white;
  padding: 20px 0;
}

footer a {
  color: yellow;
  text-decoration: none;
}

/* Queries */
@media screen and (max-width: 848px) {
    .navbar {   
        flex-direction: column;
    }
  
    #back-img {
    margin-top: 180px;
  }
}

@media screen and (max-width: 421px) {
  #nav a {
    font-size: 14px;
  }
  
  h1 {
    font-size: 28px
  }
  
  h2, h3 {
    font-size: 25px;
  }
}

@media screen and (max-width: 399px) {
  #nav {
    flex-direction: column;
    font-size: 10px;
  }
  
  #back-img {
    margin-top: 220px;
  }
  
  #form {
    font-size: 15px;
  }
  
  #about p {
    font-size: 18px;
  }
 
  h6 {
    font-size: 20px;
  }
  
  h4 {
    font-size: 18px;
  }
}

@media screen and (max-width: 359px) {
  #nav a {
    font-size: 12px;
  }
  
  #back-img {
    margin-top: 200px;
  }
  
  h1 {
    font-size: 25px;
  }
  
  h6 {
    font-size: 18px;
  }
}

@media screen and (max-width: 280px) {
  #nav a {
    font-size: 10px;
  }
}
